* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to top, rgb(44, 62, 80), #83b0dc) no-repeat;
    padding: 1rem 1rem;
}
.wrapper {
    /* margin: 0 auto;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
     */

    margin: 0 auto;
    min-height: 100vh;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 2vh 0 2vh;
}
.title {
    font-size: 4rem;
    text-transform: uppercase;
    cursor: default;
    color:aliceblue;
}
input {
    display: none;
}
label {
    cursor: pointer;
    
}
.meme {
    width: 100%;
    padding-top: 1.5rem;
    cursor: pointer;
    transition: .5s all;
}

.border {
    display: block;
    width: 100%;
    height: .2rem;
    background-color: #e0e5e9;
    margin-bottom: 1rem;
    transition: background-color .5s ease-in-out;
    border-radius: 3px
}
.meme-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.text {
    font-size: 2rem;
    padding: 0 .5rem;
    color: #fff;
    margin-bottom: 10px;
    transition: color .5s ease-in-out;
}
i {
    color: #fff;
    transition: .7s ease-in-out;
    opacity: 0;
}
img {
    height: 28em;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
}
.meme__img {

    display: block;
    height: 0;
    overflow: hidden;
    transition: height .5s ease-in-out;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


/* hovered */
@media (hover: hover) {
    .meme:hover .text,
    .meme:hover .border {
        color: yellow; 
    }
    .wrapper:hover .border,
    .wrapper:hover .text {
        color: yellow;
    }

    .meme:hover .border {
        background-color: yellow; 
    }
    .meme:hover i {
        color: yellow; 
        opacity: 1;
        transform: rotate(-90deg);
    }
    .wrapper:hover i {
        opacity: 1;
        color: yellow; 
    }

    .meme:hover .meme__img {
        height: 30em;
    }
}

/* checked */

input:checked + .border {
    background-color: yellow;
}
input[type="radio"]:checked + .border +.meme-text .text,
input[type="radio"]:checked + .border +.meme-text i {
    color: yellow;
}
input[type="radio"]:checked + .border +.meme-text i {
    /* opacity: 1; */
    transform: rotate(90deg);
}
input[id^=meme]:checked~.meme__img {
    height: 30em;
}
